<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomcat.checkupdatelibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name="com.tomcat.checkupdatelibrary.CheckUpdateFileProvider"
            android:authorities="${applicationId}.checkupdate.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>
